<form [formGroup]="registerForm" (ngSubmit)="submitForm()">
    <label>
        Nome:
        <input type="text" formControlName="firstName">

        <span class="alert"
            *ngIf="registerForm.get('firstName')?.errors && (registerForm.get('firstName')?.touched && registerForm.get('firstName')?.dirty)">
            Favor adicionar o nome
        </span>
    </label>
    <br><br>

    <label>
        <input type="text" formControlName="lastName">
    </label>

    <p>
        <!-- {{ registerForm.get('firstName')?.value }} -->
        {{ registerForm.get('firstName')?.errors | json }}
        {{ registerForm.get('firstName')?.touched | json }}
        {{ registerForm.get('firstName')?.dirty | json }}
    </p>

    <button [disabled]="registerForm.invalid">Enviar</button>
</form>